{% extends "base.html" %}

{% block title %}战报 - {{ category }}{% endblock %}

{% block head %}
    {{ super() }}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/r/">战报</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          {{ category }}
      </li>
  </ol>
</nav>
{% if current_user.username == username %}
    <input id="mypond" type="file" />
{% endif %}
    <ul>
    {% for d in dirs %}
        <li><a href="{{d}}">{{d}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    {{ super() }}

    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

{% if current_user.username == username %}
<script>
$("input").filepond({
    allowMultiple: true,
    allowRevert: false,
    allowRemove: false,
    server: {
        process: '/upload/process/{{ username }}/{{ category }}',
    },
})
{% endif %}
</script>
{% endblock %}
