{% extends "base.html" %}

{% block title %}战报 - {{ category }}{% endblock %}

{% block head %}
    {{ super() }}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1><a href="/r/">战报</a> > <a href="/r/{{ username }}/{{ category }}/">{{ category }}</a></h1>
{% if current_user.username == username %}
    <input id="mypond" type="file" />
{% endif %}
    <ul>
    {% for d in dirs %}
        <li><a href="{{d}}">{{d}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    {{ super() }}

    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

{% if current_user.username == username %}
<script>
$("input").filepond({
    allowMultiple: true,
    allowRevert: false,
    allowRemove: false,
    server: {
        process: '/upload/process/{{ username }}/{{ category }}',
    },
})
{% endif %}
/* should be current_user */
</script>
{% endblock %}
