{% extends "base_noadsense.html" %}

{% block title %}战报 - {{ category.title }}{% endblock %}

{% block content %}
<div class="m-3">
<form action="" method="POST">
  {{ form.hidden_tag() }}
  <div class="text-center mb-4">
    <h2>Edit category: {{ category.name }}</h2>
  </div>
  <br>
  <div class="mb-4">
    Display Name:
    {{ form.display_name(placeholder="Description", class="form-control is-invalid" if form.display_name.errors else "form-control") }}
    {% for error in form.display_name.errors %}
    <div class="invalid-feedback">{{ error  }}</div>
    {% endfor %}
  </div>
   <div class="mb-4">
      {{ form.order_by.label }}:
      {{ form.order_by(class="form-control is-invalid" if form.order_by.errors else "form-control") }}
      {% for error in form.order_by.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
  <div class="mb-4">
    Description (BBCode supported):
    {{ form.description(placeholder="Description", class="form-control is-invalid" if form.description.errors else "form-control", rows="4") }}
    {% for error in form.description.errors %}
        <div class="invalid-feedback">{{ error  }}</div>
    {% endfor %}
  </div>
   <br>
   <div class="d-grid gap-2">
     {{ form.submit(class="btn btn-primary mb-4") }}
     <a class="btn btn-secondary" href="{{ url_for('wodreport.view_category', category_id=category.id) }}">Cancel</a>
   </div>
</form>
</div>
{% endblock %}
