{% extends "base.html" %}

{% block title %}战报 - New Category{% endblock %}

{% block content %}
<section class="w-100 p-4 d-flex justify-content-center pb-4">
<form action="" method="post">
   {{ form.hidden_tag() }}
   <div class="text-center mb-4">
      <h2>Create a new Category</h2>
   </div>
   <br>
   <br>
   <div class="mb-4">
      {{ form.name(placeholder="name", class="form-control is-invalid" if form.name.errors else "form-control") }}
      {% for error in form.name.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="mb-4">
      {{ form.description(placeholder="description", class="form-control is-invalid" if form.description.errors else "form-control") }}
      {% for error in form.description.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <br>
   <div class="d-grid gap-2">{{ form.submit(class="btn btn-primary mb-4") }}
   </div>
</form>
</section>
{% endblock %}
