{% extends "base_noadsense.html" %}

{% block title %}Profile & Preference{% endblock %}

{% block content %}
<div id="flash-message" class="alert alert-success" style="display:none;">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
<section class="w-100 p-4 d-flex justify-content-center pb-4">
<form action="" method="POST">
   {{ form.hidden_tag() }}
   <div class="text-center mb-4">
      <h2>Profile &amp; Preference</h2>
   </div>
   <br>
   <br>
   <div class="mb-4">
     Username:
     {{ current_user.username }}
    </div>
   <div class="mb-4">
      {{ form.display_name.label }}:
      {{ form.display_name(placeholder="Display name (default to username)", class="form-control is-invalid" if form.display_name.errors else "form-control") }}
      {% for error in form.display_name.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="mb-4">
      {{ form.email.label }}:
      {{ form.email(placeholder="Email", class="form-control is-invalid" if form.email.errors else "form-control") }}
      {% for error in form.email.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="mb-4">
      {{ form.old_password.label }}:
      {{ form.old_password(placeholder="Old password", class="form-control is-invalid" if form.old_password.errors else "form-control") }}
      {% for error in form.old_password.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="mb-4">
      {{ form.new_password1.label }}:
      {{ form.new_password1(placeholder="Password", class="form-control is-invalid" if form.new_password1.errors else "form-control") }}
      {% for error in form.new_password1.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="mb-4">
      {{ form.new_password2.label }}:
      {{ form.new_password2(placeholder="Confirm password", class="form-control is-invalid" if form.new_password2.errors else "form-control") }}
      {% for error in form.new_password2.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <br>
   <div class="mb-4">
      {{ form.reader_theme.label }}:
      {{ form.reader_theme(class="form-control is-invalid" if form.reader_theme.errors else "form-control") }}
      {% for error in form.reader_theme.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="mb-4">
      {{ form.app_theme.label }}:
      {{ form.app_theme(class="form-control is-invalid" if form.app_theme.errors else "form-control") }}
      {% for error in form.app_theme.errors %}
        <div class="invalid-feedback">* {{ error }}</div>
      {% endfor %}
   </div>
   <div class="d-grid gap-2">{{ form.submit(class="btn btn-primary mb-4") }}
   </div>
</form>
</section>
{% endblock %}

{% block footer %}
  {{ super() }}
<script>
  $(document).ready(function () {

      var flashmsg = $("#flash-message");
      flashmsg.hide();

      if (flashmsg.text().trim().length > 0) {
          flashmsg.show().delay(1000).fadeOut();
      }
      
  });
</script>
{% endblock %}
