{% extends "base.html" %}

{% block title %}战报 - details{% endblock %}

{% block head %}
  {{ super() }}

<style type="text/css">
  .breadcrumb {
      margin-bottom: 0px;
  }

  .breadcrumb-item {
      max-width: 40%;
  }

  .iframe-loading {
      height: calc(100vh - 72px - 36px - 113px - 56px);
  }

  .iframe-loading iframe {
      width: 100%;
      height: 100%;
      display: none;
  }

  #spinner {
      width: 100%;
      height: 100vh;
  }

  #spinner .spinner-border {
      width: 100px;
      height: 100px;
  }

  .nav-link {
      margin-top: 1em;
      margin-left: 1em;
  }

  @media (max-width: 768px) {
  }

</style>
{% endblock %}

{% block content %}
<nav id="report-breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/r/">目录</a>
      </li>
      <li class="breadcrumb-item text-truncate" aria-current="page">
          <a href="{{ url_for('wodreport.view_category', category_id=report.category_id) }}">{{ report.category.title}}</a>
      </li>
      <li class="breadcrumb-item active text-truncate" aria-current="page">
          <span alt="{{ report.name }}">{{ report.title }}</span>
      </li>
  </ol>
</nav>
<div>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-report-tab" data-bs-toggle="pill" data-bs-target="#pills-report" type="button" role="tab" aria-controls="pills-report" aria-selected="true">Report(raw)</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-details-tab" data-bs-toggle="pill" data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-details" aria-selected="false">Metadata</button>
    </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-report" role="tabpanel" aria-labelledby="pills-report-tab">
      <div class="embed-responsive iframe-loading">
        <div id="spinner" class="row text-center align-items-center">
          <div class="row spinner-border align-items-center mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <iframe id="report_iframe" class="embed-responsive-item" onload="$('#spinner').hide(); $('.iframe-loading iframe').show();" src="{{ url_for("wodreport.report_raw", username=report.owner, category=report.category.name, name=report.name, subpath=subpath) }}" title="Report details"></iframe>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
      <div class="m-3">
        <p>{{ report.description_rendered | safe }}</p>
      </div>
        {% if current_user.username == report.owner %}
        <div>
          [<a href="{{ url_for('wodreport.edit_report', report_id=report.id) }}">Edit</a>]
        <div>
        {% endif %}
      <dl class="row">
        <dt class="col-sm-3 col-3">ID</dt>
        <dd class="col-sm-9 col-9">{{ report.id | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Name</dt>
        <dd class="col-sm-9 col-9">{{ report.name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Display Name</dt>
        <dd class="col-sm-9 col-9">{{ report.display_name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Order</dt>
        <dd class="col-sm-9 col-9">{{ report.order | default("-")}}</dd>
      </dl>
      <dl class="row">

        <dt class="col-sm-3 col-3">Site Name</dt>
        <dd class="col-sm-9 col-9">{{ details.site_name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Name</dt>
        <dd class="col-sm-9 col-9">{{ details.server_name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Group Name</dt>
        <dd class="col-sm-9 col-9">{{ details.group_name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Group Size</dt>
        <dd class="col-sm-9 col-9">{{ details.group_size | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Dungeon Name</dt>
        <dd class="col-sm-9 col-9">{{ details.dungeon_name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Dungeon Type</dt>
        <dd class="col-sm-9 col-9">{{ details.dungeon_type | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Dungeon Date</dt>
        <dd class="col-sm-9 col-9">{{ details.dungeon_date | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Challenge Name</dt>
        <dd class="col-sm-9 col-9">{{ details.challenge_name | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Challenge Type</dt>
        <dd class="col-sm-9 col-9">{{ details.challenge_type | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Challenge Floor</dt>
        <dd class="col-sm-9 col-9">{{ details.challenge_floors | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Succeed</dt>
        <dd class="col-sm-9 col-9">{{ details.succeed | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Level Min</dt>
        <dd class="col-sm-9 col-9">{{ details.level_min | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Level Max</dt>
        <dd class="col-sm-9 col-9">{{ details.level_min | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Classes</dt>
        <dd class="col-sm-9 col-9">{{ details.classes | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Races</dt>
        <dd class="col-sm-9 col-9">{{ details.races | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Classes and Races</dt>
        <dd class="col-sm-9 col-9">{{ details.classes_and_races | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Created At</dt>
        <dd class="col-sm-9 col-9">{{ details.created_at | default("-")}}</dd>

        <dt class="col-sm-3 col-3">Updated At</dt>
        <dd class="col-sm-9 col-9">{{ details.updated_at | default("-")}}</dd>
      </dl>
    </div>
{% endblock %}

{% block sidebar_content %}
TBD: meta for {{ report.title }}
{% endblock %}

{% block nav_content %}
<button id="fullscreen-btn" class="btn btn-secondary" role="button">加强版</button>
{% endblock %}

{% block footer %}
  {{ super() }}
<script>
  $(document).ready(function () {
      
      $("#fullscreen-btn").on("click", function () {
          var iframe_href = $("#report_iframe")[0].contentWindow.location.href;
          var reader_href = iframe_href.replace(
              "{{ url_for("wodreport.report_raw", username=report.owner, category=report.category.name, name=report.name, subpath=subpath) }}",
              "{{ url_for('wodreport.report_reader', report_id=report.id) }}"
          );
          var scroll_top = $("#report_iframe")[0].contentWindow.document.body.scrollTop;
          if (scroll_top > 0) {
              window.location.href = reader_href + "?scroll_top=" + scroll_top;
          } else {
              window.location.href = reader_href;
          }

      });
  });
</script>
{% endblock %}
