{% extends "base.html" %}

{% block title %}战报 - details{% endblock %}

{% block head %}
  {{ super() }}
<style type="text/css">
  .breadcrumb {
      margin-bottom: 0px;
  }

  .breadcrumb-item {
      max-width: 40%;
  }

  .iframe-loading {
      height: calc(100vh - 72px - 36px - 24px);
  }

  .iframe-loading iframe {
      width: 100%;
      height: 100%;
      display: none;
  }

  #spinner {
      width: 100%;
      height: 100vh;
  }

  #spinner .spinner-border {
      width: 100px;
      height: 100px;
  }

</style>
{% endblock %}

{% block content %}
<nav id="report-breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/r/">目录</a>
      </li>
      <li class="breadcrumb-item text-truncate" aria-current="page">
          <a href="{{ url_for('wodreport.view_category', category_id=report.category_id) }}">{{ report.category.name }}</a>
      </li>
      <li class="breadcrumb-item active text-truncate" aria-current="page">
          {{ report.name }}
      </li>
  </ol>
</nav>
<div class="embed-responsive iframe-loading">
  <div id="spinner" class="row text-center align-items-center">
    <div class="row spinner-border align-items-center mx-auto" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <iframe id="report_iframe" class="embed-responsive-item" onload="$('#spinner').hide(); $('.iframe-loading iframe').show();" src="{{ url_for("wodreport.report_raw", username=report.owner, category=report.category.name, name=report.name, subpath=subpath) }}" title="Report details"></iframe>
</div>
{% endblock %}

{% block sidebar_content %}
TBD: meta for {{ report.name }}
{% endblock %}

{% block nav_content %}
<a class="btn btn-secondary" href="{{ url_for('wodreport.report_reader', report_id=report.id) }}" role="button">全屏</a>
{% endblock %}
